@import "definition.scss";

main.mtv-page {
  width: 80%;
  background: color(white);
  margin: 1rem auto auto auto;
  text-align: center;

  @include tablet {
    width: 100%;
    margin-top: 4rem;
  }
  .mtv-img-container {
    position: relative;
    overflow: hidden;

    .mtv-poster,
    .mtv-title {
      position: absolute;
    }
    .mtv-poster {
      bottom: 8%;
      left: 5%;
      max-width: 300px;
      z-index: 10;
      border: 2px color(white) solid;
      box-shadow: 5px 5px 10px #000;
      max-height: 55%;
      @include desktop {
        max-height: 42%;
      }
      @include tablet {
        height: 36%;
        bottom: 20%;
      }
    }
    .mtv-title {
      bottom: 10%;
      left: 35.5%;
      font-size: 2rem;
      color: #fff;
      letter-spacing: -1px;
      word-spacing: 10px;
      text-transform: uppercase;
      background: radial-gradient(rgba(0, 0, 0, 0.8), transparent);
      width: 59%;
      text-align: start;
      padding: 0.7rem 0.5rem;
      border-radius: 10px;

      @include tablet {
        bottom: 1%;
        left: 0%;
        font-size: 1.4rem;
        width: 78%;
        text-align: end;
      }
    }
    .mtv-overlay {
      clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
      background-image: linear-gradient(
        -180deg,
        rgba(255, 255, 255, 1),
        rgba(0, 0, 0, 1)
      );

      @include tablet {
        background-image: unset;
      }
      @include mobile {
        clip-path: unset;
      }

      .mtv-background {
        position: relative;
        opacity: 0.8;
        width: 100%;
        height: 88vh;
        background-color: color(white);
        overflow: hidden;

        img {
          min-width: 100%;
          height: 88vh;
          margin: auto;

          @include tablet {
            margin-left: -12rem;
          }
        }
      }
    }
  }
  section.mtv-info,
  section.mtv-more-details,
  section.mtv-details {
    padding: 1.5rem;
  }
  section.mtv-info {
    text-align: left;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
    @include mobile {
      clip-path: unset;
    }
    .mtv-rating {
      text-align: center;
      margin-bottom: 1rem;

      .mtv-progress-bar-container {
        display: inline-block;
        width: 85%;
        height: 20px;
        border: 2px color(primaryM) solid;
        background-color: color(white);
        overflow: hidden;
        margin: auto;
        border-radius: 20px;

        .mtv-progress-bar {
          transform: translateX(-100%);
          box-shadow: 5px 5px 50px black;
          height: 20px;
          transition: 1.5s ease;
          clip-path: polygon(0 0, 100% 0, 97% 100%, 0% 100%);
        }
      }
      .mtv-p-rating {
        display: inline-block;
        font-size: 1.3rem;
        margin-left: 10px;
        padding: 5px 0 0 0;
        transform: translateY(-3px);

        @include tablet {
          margin-left: 0.1rem;
        }
        @include mobile {
          font-size: 1rem;
        }
      }
    }
    .mtv-original-title {
      color: #000;
      opacity: 0.7;
      margin: 2rem 1rem 0 2rem;
      display: inline-block;
    }
    .mtv-date {
      display: inline-block;
      margin: 2rem auto 0.5rem 2rem;
    }
    .mtv-description {
      color: color(primaryM);
      margin: 0.2rem 2rem 0.5rem 2rem;
    }
    .mtv-details {
      margin-top: 1rem;
      min-width: 430px;
      text-align: center !important;
      display: inline-block;
      margin-left: calc(50% - 15rem);
      @include mobile {
        min-width: 90%;
        margin-left: -0.5rem;
      }
      p {
        display: inline-block;
        margin-bottom: 1rem;
        &:nth-child(1),
        &:nth-child(2) {
          border-right: 1px color(primaryM) solid;
          margin-right: 0.3rem;
          padding-right: 0.7rem;
        }
      }
    }
  }
  .mtv-credits {
    padding: 1rem 0;
    background: rgba(0, 0, 0, 0.1);

    .mtv-casting-container {
      display: flex;
      width: 91%;
      flex-direction: row;
      flex-wrap: nowrap;
      text-align: center;
      overflow-x: auto;
      padding-bottom: 1rem;
      margin: auto auto 1rem auto;

      .mtv-cast-member {
        box-shadow: 1px 1px 3px color(primaryM);
        margin: 0.5rem;
        max-width: 200px;
        background: color(white);
        cursor: pointer;
        transition: 0.3s;
        &:last-child::after {
          content: "space";
          visibility: hidden;
          padding-right: 10rem;

          @include tablet {
            padding-right: unset;
          }
        }
        &:hover {
          box-shadow: 2px 2px 25px color(secondaryM);
        }
        @include tablet {
          margin: 0.25rem;
        }
        img {
          height: 300px;
          width: 200px;

          @include tablet {
            height: 175px;
            width: unset;
          }
        }
        p {
          font-size: 1rem;
          margin-bottom: 0.5rem;
        }
        .cast-role {
          font-size: 0.8rem;
          opacity: 0.7;
        }
      }
    }
    .mtv-casting-container::-webkit-scrollbar {
      height: 8px;
    }
    .mtv-casting-container::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
    }
    .mtv-casting-container::-webkit-scrollbar-thumb {
      border: 1px color(primaryM) solid;
      border-radius: 100px;
    }
    .full-cast-btn {
      display: inline-block;
      padding: 0.5rem;
      background: color(primaryM);
      color: color(secondaryM);
      outline: none;
      border: unset;
      transition: 0.3s;
      cursor: pointer;
      font-size: 1rem;
      &:hover {
        background: color(secondaryM);
        color: color(primaryM);
      }
    }
  }
  .mtv-more-details {
    border: 2px color(primaryM) solid;
    border-radius: 15px;

    .homepage-btn,
    .imdb-btn {
      margin-top: 2rem;
    }
    .homepage-btn {
      margin-left: 0.5rem;
      padding: 0.4rem;
      display: inline-block;
      background: color(primaryM);
      border: 1px color(primaryM) solid;
      border-radius: 8px;
      color: color(secondaryM);
      font-size: 1.1rem;
      overflow: hidden;
      transition: 0.3s;
      &:hover {
        color: color(primaryM);
        background: color(secondaryM);
      }
    }
    .imdb-btn {
      margin-right: 0.5rem;
      padding: 0.2rem;
      display: inline-block;
      transition: 0.3s;
      overflow: hidden;
      background: color(primaryM);
      border-radius: 0.7rem;
      color: color(secondaryM);
      border: 2px #deb522 solid;
      font-size: 1.3rem;
      &:hover {
        color: #deb522;
        background: #0c0b00;
      }
    }
  }
  .mtv-similar-titles {
    margin: auto;
    padding: 0 0.5rem 1rem 0.5rem;
    text-align: center;
    background: color(secondaryM);
    border-radius: 15px;

    .similar-highlight {
      position: relative;
      float: left;
      width: 278px;
      height: 417px;
      margin: 0.8rem 0 0 2rem;
      background: color(white);
      overflow: hidden;
      border-radius: 10px;
      border: 2px color(primaryM) solid;
      @include tablet {
        float: unset;
        height: unset;
        margin: auto;
        width: 160px;
      }
      .title-container {
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.8;
        width: 100%;

        padding: 0.5rem 0;
        transition: 0.3s;
        &::before {
          z-index: -2;
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: color(white);
          filter: blur(15px);
        }
        .description {
          color: color(primaryM);
          font-size: 0.9rem;
          font-weight: bold;
        }
        .title {
          font-size: 1rem;
        }
      }
    }
    .grid-similar {
      display: grid;
      grid-template-columns: repeat(4, 150px);
      grid-gap: 5px;
      padding-left: 5px;
      justify-content: center;
      height: 445px;
      overflow-y: scroll;

      @include tablet {
        grid-template-columns: repeat(2, 160px);
        height: 800px;
        overflow-x: hidden;
      }

      .similar-small {
        cursor: pointer;
        position: relative;
        width: 150px;
        height: 218.3px;
        overflow: hidden;
        border-radius: 10px;
        &:hover .similar-title-small {
          opacity: 0.8;
        }
        .similar-title-small {
          background: color(white);
          font-size: 1rem;
          position: absolute;
          color: color(primaryM);
          border: 1px color(primaryM) solid;
          border-radius: 5px;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          transition: 0.2s;
          width: 100%;
          padding: 0.4rem 0;
          opacity: 0;
        }
      }
    }
    .grid-similar::-webkit-scrollbar-track {
      width: 10px;
      background: color(secondaryM);
    }

    .grid-similar::-webkit-scrollbar-thumb {
      background: color(primaryM);
      border-radius: 10px;
    }

    .similar-poster-small {
      width: 100%;
      height: 100%;
    }
  }
  h3 {
    font-size: 1.5rem;
    margin: 0 auto 0.5rem auto;
    padding: 0.5rem;
    color: color(primaryM);
  }
}
//OVAJ DIO JE ZA ADD FAVOURITE SA AKAUNTOM
// .fa-star {
//     color: color(primaryM);
//     cursor: pointer;
//     position: absolute;
//     margin-top: 6.3rem;
//     font-size: 1.2rem;
//     @include mobile{
//      margin-top: 0.3rem;
//    }
// }

.fixed-small-info {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 5rem;
  z-index: 999;
  border-radius: 0 0 100% 0;
  box-shadow: 0px 2px 15px black;
  transform: rotateX(-90deg);
  transform-origin: top;
  transition: 0.25s ease-out;
  overflow: hidden;
  &::before {
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(black, 0.3);
  }
  @include mobile {
    width: 90%;
    height: 3.5rem;
    top: 4rem;
  }

  .fixed-img-container {
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1000px;
    height: 5rem;
    width: 100%;
    @include mobile {
      height: 3.5rem;
      margin-left: 0;
      border-radius: 0;
    }
    img {
      width: 100%;
      height: auto;
      margin: -5px 0 0 -5px;
      transform: scale(1.2);
      @include mobile {
        margin: -20px 0 0 -5px;
      }
    }
  }
  .fixed-small-title {
    z-index: 999;
    text-align: left;
    width: 65%;
    color: white !important;
    display: block;
    padding: 0.2rem 30% 0 0.5rem;
    line-height: 2.5rem;
    transition: 0.3s ease-out;
    margin: 0 !important;
    @include mobile {
      font-size: 1rem;
      line-height: 3.5rem;
    }
    span {
      font-weight: 100;
      font-size: 16px;
      padding-left: 10px;
      @include mobile {
        padding-left: 3px;
        font-size: 12px;
      }
    }
  }
}

.fixed-small-info.fixed-active {
  transform: rotateX(0);
  .fixed-small-title {
    padding-left: 2rem;
    @include mobile {
      padding-left: 0rem;
    }
  }
}
